name: "Test"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    name: "Test"
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6.0.0"

        - name: "Set up Python"
          uses: actions/setup-python@v6.0.0
          with:
            python-version: "3.13"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.txt

        - name: "Run"
          run: python3 -m pytest --cov=./ --cov-report=xml --cov-fail-under=80 --junitxml=junit.xml -o junit_family=legacy -v

        - name: Upload coverage reports to Codecov
          uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # 5.5.1
          with:
            token: ${{ secrets.CODECOV_TOKEN }}

        - name: Upload test results to Codecov
          if: ${{ always() }}
          uses: codecov/test-results-action@v1
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
